<section id="about-me">
  <div class="about-me__img">
    <img src="img/LisaPhoto1_cropped_portrait.jpg" alt="Me" />
  </div>
  <div class="about-me__content">
    <h2 class="about-me__content--title">About Me</h2>
    <p class="about-me__content--para">
      <p>
        I am a PhD student in climate change mitigation and resource efficiency at the urban scale in the Industrial Ecology group at the University of Freiburg. I am a physicist by training, holding a first class integrated bachelor and master’s degree in physics from Imperial College London.
      </p>
      <p>
        I work at the intersection of science and policy, modelling the emissions and resource demand of different futures.
      </p>
      <p>
        I am interested in questioning what it means to live sustainably and how policies can support and encourage sustainable lifestyles.
      </p>
      <p>
        @lisa_winkler_ (twitter)
      </p>
      <p>
        https://www.linkedin.com/in/winkler-lisa/
      </p>  
    </p>
    <a href="#" class="about-me__content--link">Read More</a>
  </div>
</section>
