<section id="about-me">
  <div class="about-me__img">
    <img src="img/LisaPhoto1_cropped_portrait.jpg" alt="Me" />
  </div>
  <div class="about-me__content">
    <h2 class="about-me__content--title">About Me</h2>
    <p class="about-me__content--para">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum laudantium
      obcaecati fugiat voluptatum cupiditate temporibus repellendus reiciendis
      tempore veritatis, nam illo repellat atque delectus totam, veniam quod hic
      quidem, eos esse et at dolorem minus magnam aliquam. Debitis illum id
      blanditiis fugit neque reiciendis qui, inventore minima quae ratione ad!
    </p>
    <a href="#" class="about-me__content--link">Read More</a>
  </div>
</section>
