<section id="contact">
  <form action="" class="form contact__form">
    <input type="text" placeholder="Name" />
    <input type="email" placeholder="Email" />
    <input type="text" placeholder="Subject" />
    <textarea name="" placeholder="Message"></textarea>
    <input type="submit" value="Submit" />
  </form>
</section>
