<section id="showcase">
  <div class="showcase__content">
    <h1 class="showcase__content--title">Lisa Winkler</h1>
    <p class="showcase__content--para">
      <!-- PhD Student in Resource Efficiency and Climate Change Mitigation at the
      Urban Scale at the University of Freiburg -->
      PhD Student / University of Freiburg
    </p>
    <a href="#" class="showcase__content--link">My Publications</a>
  </div>
</section>
