<section id="maps">
  <h2>My Maps</h2>
  <div class="maps__card">
    <img src="img/map-placeholder-medium.jpg" alt="map" />
    <button onclick="goToLink(this)" value="map1.html">
      Number of cafes and restaurants in Germany
    </button>
  </div>

  <div class="maps__card">
    <img src="img/map-placeholder-medium.jpg" alt="map" />
  </div>
  <div class="maps__card">
    <img src="img/map-placeholder-medium.jpg" alt="map" />
  </div>
  <div class="maps__card">
    <img src="img/map-placeholder-medium.jpg" alt="map" />
  </div>
  <div class="maps__card">
    <img src="img/map-placeholder-medium.jpg" alt="map" />
  </div>
  <div class="maps__card">
    <img src="img/map-placeholder-medium.jpg" alt="map" />
  </div>
</section>
