<section id="publications">
    <h2>My Publications</h2>
  <div class="publication publications__publication-1">
    <i class="fa-regular fa-newspaper"></i>
    <h3 class="publications--title publications__publication-1--title">
      The effect of sustainable mobility transition policies on cumulative urban
      transport emissions and energy demand
    </h3>
    <p class="publications--para publications__publication-1--para">
      The growing urban transport sector presents towns and cities with an
      escalating challenge in the reduction of their greenhouse gas emissions.
      Here we assess the effectiveness of several widely considered policy
      options (electrification, light-weighting, retrofitting, scrapping,
      regulated manufacturing standards and modal shift) in achieving the
      transition to sustainable urban mobility in terms of their emissions and
      energy impact until 2050.
      <a href="/publications/Art_1.pdf" target="_blank">Read More</a>
    </p>
  </div>
  <div class="publication publications__publication-2">
    <i class="fa-regular fa-newspaper"></i>
    <h3 class="publications--title publications__publication-2--title">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, tempore.
    </h3>
    <p class="publications--para publications__publication-2--para">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi modi
      ducimus eius similique, consequatur nihil, reprehenderit mollitia nam
      eveniet ut explicabo iure commodi aliquam delectus vel tempora
      voluptatibus non beatae assumenda, molestias officiis doloribus? Dolorum
      pariatur dignissimos nostrum molestiae doloremque fugiat provident at
      aliquam tenetur harum, natus inventore autem earum?
      <a href="#" target="_blank">Read More</a>
    </p>
  </div>
  <div class="publication publications__publication-3">
    <i class="fa-regular fa-newspaper"></i>
    <h3 class="publications--title publications__publication-3--title">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, tempore.
    </h3>
    <p class="publications--para publications__publication-3--para">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi modi
      ducimus eius similique, consequatur nihil, reprehenderit mollitia nam
      eveniet ut explicabo iure commodi aliquam delectus vel tempora
      voluptatibus non beatae assumenda, molestias officiis doloribus? Dolorum
      pariatur dignissimos nostrum molestiae doloremque fugiat provident at
      aliquam tenetur harum, natus inventore autem earum?
      <a href="#" target="_blank">Read More</a>
    </p>
  </div>
  <div class="publication publications__publication-4">
    <i class="fa-regular fa-newspaper"></i>
    <h3 class="publications--title publications__publication-4--title">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, tempore.
    </h3>
    <p class="publications--para publications__publication-4--para">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi modi
      ducimus eius similique, consequatur nihil, reprehenderit mollitia nam
      eveniet ut explicabo iure commodi aliquam delectus vel tempora
      voluptatibus non beatae assumenda, molestias officiis doloribus? Dolorum
      pariatur dignissimos nostrum molestiae doloremque fugiat provident at
      aliquam tenetur harum, natus inventore autem earum?
      <a href="#" target="_blank">Read More</a>
    </p>
  </div>
  <div class="publication publications__publication-5">
    <i class="fa-regular fa-newspaper"></i>
    <h3 class="publications--title publications__publication-5--title">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, tempore.
    </h3>
    <p class="publications--para publications__publication-5--para">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi modi
      ducimus eius similique, consequatur nihil, reprehenderit mollitia nam
      eveniet ut explicabo iure commodi aliquam delectus vel tempora
      voluptatibus non beatae assumenda, molestias officiis doloribus? Dolorum
      pariatur dignissimos nostrum molestiae doloremque fugiat provident at
      aliquam tenetur harum, natus inventore autem earum?
      <a href="#" target="_blank">Read More</a>
    </p>
  </div>
  <div class="publication publications__publication-6">
    <i class="fa-regular fa-newspaper"></i>
    <h3 class="publications--title publications__publication-6--title">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, tempore.
    </h3>
    <p class="publications--para publications__publication-6--para">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi modi
      ducimus eius similique, consequatur nihil, reprehenderit mollitia nam
      eveniet ut explicabo iure commodi aliquam delectus vel tempora
      voluptatibus non beatae assumenda, molestias officiis doloribus? Dolorum
      pariatur dignissimos nostrum molestiae doloremque fugiat provident at
      aliquam tenetur harum, natus inventore autem earum?
      <a href="#" target="_blank">Read More</a>
    </p>
  </div>
</section>
