<section id="skills">
  <!-- Industry Knowledge -->
  <div class="skills__industry">
    <h3 class="skills__industry--title">Industry Knowledge</h3>
    <h4>Renewable Energy</h4>
    <div class="skills__industry-progress">
      <span class="skills__industry--progress-1"></span>
    </div>
    <h4>Energy Efficience</h4>
    <div class="skills__industry-progress">
      <span class="skills__industry--progress-2"></span>
    </div>

    <h4>Life Cycle Assessment</h4>
    <div class="skills__industry-progress">
      <span class="skills__industry--progress-3"></span>
    </div>

    <h4>Sustainability Reporting</h4>
    <div class="skills__industry-progress">
      <span class="skills__industry--progress-4"></span>
    </div>

    <h4>Land Use Planning</h4>
    <div class="skills__industry-progress">
      <span class="skills__industry--progress-5"></span>
    </div>
  </div>

  <!-- Tools & Technology -->
  <div class="skills__tools">
    <h3 class="skills__tools--title">Tools & Technology</h3>
    <h4>Python</h4>
    <div class="skills__tools-progress">
      <span class="skills__tools--progress-1"></span>
    </div>
    <h4>SQL</h4>
    <div class="skills__tools-progress">
      <span class="skills__tools--progress-2"></span>
    </div>

    <h4>R</h4>
    <div class="skills__tools-progress">
      <span class="skills__tools--progress-3"></span>
    </div>

    <h4>Microsoft Power Automate</h4>
    <div class="skills__tools-progress">
      <span class="skills__tools--progress-4"></span>
    </div>

    <h4>LaTeX</h4>
    <div class="skills__tools-progress">
      <span class="skills__tools--progress-5"></span>
    </div>
  </div>
</section>
