/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* MAIN STYLING */
html {
  /* 62.5% of 16px is 10px */
  font-size: 62.5%;
  color: #291f1e;
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* line-height: 1.7em; */
  font-size: calc(0.8rem + 0.8vw);
}
.grid-container {
  display: grid;
  grid-template-columns: 100vw; /* create one column that is 100% of viewport width */
  grid-template-rows: 1fr 6fr 0.5fr; /* create 3 rows with specified height ratios */
  min-height: 100vh; /* set the height of the grid to be the full viewport height */
  justify-content: center; /* center the grid horizontally */
}
.grid-item {
  padding: calc(4px + 2vh) calc(4px + 2vw);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1 {
  font-size: calc(1.4rem + 1.5vw);
}
h2 {
  padding-bottom: 10px;
  font-size: calc(1.1rem + 1vw);
}
p {
  margin: 10px 0;
}
/* NAVBAR */
header {
  background-color: #60a3bc;
  border-bottom: calc(2px + 0.186vw) solid #e58e26;
}
.list {
  display: flex;
}
.navbar {
  color: whitesmoke;
  display: flex;
  align-items: center;
}
.navbar li {
  padding-left: 2em;
}
.navbar a:link,
.navbar a:visited {
  color: whitesmoke;
}
.navbar a:hover,
.navbar a:active {
  color: #fa983a;
}
.menubar {
  display: flex;
}
.logo {
  flex-grow: 1;
}
.logo-text {
  color: #fa983a;
}
.list-items a {
  color: whitesmoke;
  transition: all 0.4s;
}
.burger {
  height: 28px;
  width: 32px;
  display: none;
}
.layer1,
.layer2,
.layer3 {
  background: whitesmoke;
  height: 4px;
  width: 100%;
  margin-top: 4px;
  border-radius: 10px;
}
/* MENUBAR */
.menu-sidebar {
  display: none;
}
.fa-times {
  margin-top: 0.5em;
  color: whitesmoke;
  font-size: 200%;
}
.menu-list-items a {
  font-size: calc(1.5rem + 0.8vw);
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.form button {
  width: 60px;
  margin-top: 5px;
}

/* FOOTER */
footer {
  background-color: #0a3d62;
  color: lightgrey;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.6rem;
  border-top: calc(2px + 0.186vw) solid #e58e26;
}

/* MEDIA QUERIES */

/* Wide screen */
@media (min-width: 1500px) {
  h1 {
    font-size: 4.5rem;
  }
}
/* Wide screen */
@media (min-width: 1921px) {
  .grid-item {
    padding: 1em 20em;
  }
}
/* Normal/Default */
@media (max-width: 1920px) {
}

/* Tablet big */
@media (max-width: 950px) {
  /* .grid-container {
    display: block;
  } */
  /* .grid-item {
    padding: 1em 4em;
  } */
}

/* Tablet small */
@media screen and (max-width: 768px) {
  /* body {
    background-color: blue;
  } */
  /* .grid-item {
    padding: 1em 10px;
  } */
  .grid-container {
    grid-template-rows: 0.5fr 5fr 0.5fr; /* create 3 rows with specified height ratios */
  }
  .menubar {
    display: none;
  }
  .burger {
    margin-left: 2em;
    display: block;
  }
  .menu-sidebar {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 11;
    background: #82ccdd;
    overflow: hidden;
    transform: translate(-100%);
    transition: 0.3s linear;
  }
  .menu-menubar {
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
  }
  .menu-list {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .menu-sidebar .close-menu {
    position: absolute;
    right: 30px;
    font-size: 1.4rem;
  }
  .menu-list-items a {
    color: #e58e26;
  }
  .menu-list-items a:hover {
    color: #f6b93b;
  }
}

/* Smartphones */
@media screen and (max-width: 500px) {
  /* body {
    background-color: red;
  } */
  /* .grid-item {
    padding: 1em 5px;
  } */
}
